<header>
  <nav class="navbar">

    <div class="mobile_menu">

      <span data-toggle="modal" data-target="#exampleModal" class="material-symbols-outlined">
        menu
      </span>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal_header">
          <div class="modal-content">
            <div class="modal-body">
              <ul>
                <li id="list_header"><a href="/">Suscripciones</a></li>
                <li id="list_header"><a href="/">Tienda</a></li>
                <li id="list_header"><a href="/">TV y Streaming</a></li>
                <li id="list_header"><a href="/">Contacto</a></li>
                <li id="list_header1"><a href="/budgets">Mis presupuestos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-logo"><a href="#"><img src="/images/Flow_logo.png"></a>
    </div>
    <div class="navbar-home">
      <ul>
        <li><a href="/">Suscripciones</a></li>
        <li><a href="/">Tienda</a></li>
        <li><a href="/">TV y Streaming</a></li>
        <li><a href="/budgets">Presupuestos</a></li>
        <li><a href="/">Contacto</a></li>
      </ul>
    </div>

    <div class="input-search">
      <div class="input-search-box">
        <input type="text" placeholder="Buscar...">
        <a href=""><span class="material-symbols-outlined">
            search
          </span>
        </a>
      </div>
    </div>

    <div class="header_mobile_search">
      <span class="material-symbols-outlined">
        search
      </span>
    </div>

    <div class="linkto_myaccount">
      <a href="/my_account">
        <span class="material-symbols-outlined">
          account_circle
        </span>
        <p>Mi cuenta</p>
      </a>
    </div>
  </nav>
</header>

<h2><%=t('Edit')%> </h2>
<%# <%= resource_name.to_s.humanize %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('Update') %>
  </div>

<% end %>

<h3><%=t('Cancel_my_account')%></h3>

<p><%=t('Unhappy') %><%= button_to t('Cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to t('common.back'), :back %>
