<%= form_with(model: budget, local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field signup_confirmation">
  <div class="text_login">

    <%= form.label :name, t('.name') %>
  </div>
  <div class="field_login signup_confirmation">

    <%= form.text_field :name %>
  </div>
</div>

<div class="field signup_confirmation">
  <div class="text_login1">

    <%= form.label :expiration_date, t('.expiration_date') %>
  </div>
  <%= form.date_field :expiration_date %>
</div>

<div class="field signup_confirmation ">
  <div class="text_login2">

    <%= form.label :total, t('budgets.total') %>
  </div>
  <%= form.number_field :total %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
