<header>
  <nav class="navbar">

    <div class="mobile_menu">

      <span data-toggle="modal" data-target="#exampleModal" class="material-symbols-outlined">
        menu
      </span>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal_header">
          <div class="modal-content">
            <div class="modal-body">
              <ul>
                <li id="list_header"><a href="/">Suscripciones</a></li>
                <li id="list_header"><a href="/">Tienda</a></li>
                <li id="list_header"><a href="/">TV y Streaming</a></li>
                <li id="list_header"><a href="/">Contacto</a></li>
                <li id="list_header1"><a href="/budgets">Mis presupuestos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-logo"><a href="#"><img src="/images/Flow_logo.png"></a>
    </div>
    <div class="navbar-home">
      <ul>
        <li><a href="/">Suscripciones</a></li>
        <li><a href="/">Tienda</a></li>
        <li><a href="/">TV y Streaming</a></li>
        <li><a href="/budgets">Presupuestos</a></li>
        <li><a href="/">Contacto</a></li>
      </ul>
    </div>

    <div class="input-search">
      <div class="input-search-box">
        <input type="text" placeholder="Buscar...">
        <a href=""><span class="material-symbols-outlined">
            search
          </span>
        </a>
      </div>
    </div>

    <div class="header_mobile_search">
      <span class="material-symbols-outlined">
        search
      </span>
    </div>

    <div class="linkto_myaccount">
      <a href="/my_account">
        <span class="material-symbols-outlined">
          account_circle
        </span>
        <p>Mi cuenta</p>
      </a>
    </div>
  </nav>
</header>


<main class="main_login">

    <div class="title">
        <img src="/images/Flow_logo_grande.png" class="logo_login">
        <h2 class="login_title"><%=t('.log_in_title')%></h2>
    </div>
    <div id="iniciar_sesion">
      <p>Iniciar sesión</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="text_login"><%= f.label :email %><br /></div>
        <div class="field_login"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>

      <div class="field">
        <div class="text_login"><%= f.label :password %><br /></div>
        <div class="field_login"><%= f.password_field :password, autocomplete: "current-password" %></div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field_rememberme" id="text-login">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
        </div>
        <% end %>

      <div class="actions" id="login_button">
        <%= f.submit t('.log_in') %>
      </div>

      <div class="items_login">
        <img src="/images/Line.png" id="linea_login">
        <img src="/images/o.png">
        <img src="/images/Line.png" id="linea_login">
      </div>

      <div class="social_login">
        <a href="#"><img src="/images/facebbok.png" id="facebook_login"></a>
        <a href="#"><img src="/images/twitter.png"></a>
        <a href="#"><img src="/images/linkedin.png"></a>
      </div>

<% end %>

<div class="login_end">
  <%= render "devise/shared/links" %>
</div>

</main>


<footer class="footer_login">
  <div class="login_footer_desktop">
    <p id="desktop_footer1"><a href="#">¿Necesitas ayuda?</a></p>
    <p id="desktop_footer2"><a href="#">2022 - Telecom Argentina S.A.</a></p>
  </div>
  <div class="login_footer_mobile">
    <p id="mobile_footer1"><a href="#">Ayuda</a></p>
    <p id="mobile_footer2"><a href="#">Telecom Argentina</a></p>
  </div>
</footer>
