<main class="main_login">

    <div class="title">
        <img src="/images/Flow_logo_grande.png" class="logo_login">
        <h2 class="login_title"><%=t('.log_in_title')%></h2>
    </div>
    <div id="iniciar_sesion">
      <p>Iniciar sesión</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="text_login"><%= f.label :email %><br /></div>
        <div class="field_login"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>

      <div class="field">
        <div class="text_login"><%= f.label :password %><br /></div>
        <div class="field_login"><%= f.password_field :password, autocomplete: "current-password" %></div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="text_login">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <div class="actions" id="login_button">
        <%= f.submit t('.log_in') %>
      </div>

      <div class="items_login">
        <img src="/images/Line.png" id="linea_login">
        <img src="/images/o.png">
        <img src="/images/Line.png" id="linea_login">
      </div>

      <div class="social_login">
        <a href="#"><img src="/images/facebbok.png" id="facebook_login"></a>
        <a href="#"><img src="/images/twitter.png"></a>
        <a href="#"><img src="/images/linkedin.png"></a>
      </div>

<% end %>

<%= render "devise/shared/links" %>

</main>

<footer class="footer_login">
  <div class="login_footer_desktop">
    <a href="#"><p id="desktop_footer1">¿Necesitas ayuda?</p></a>
    <a href="#"><p id="desktop_footer2">2022 - Telecom Argentina S.A.</p></a>
  </div>
  <div class="login_footer_mobile">
    <a href="#"><p id="mobile_footer1">Ayuda</p></a>
    <a href="#"><p id="mobile_footer2">Telecom Argentina</p></a>
  </div>
</footer>
